.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e5ebe6;
}

.userH1 {
    margin: 2rem;
}

.h1Div {
    background-color: #f2f2f2;
    width: 100%;
}

